@import "vars";
@import "libs";
@import "fonts";
@import "global";

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #023135;
    padding: 0;
    margin: 0;
}
a{
    color: #023135;
}

.header{
    background-color: #FFF7EF;
    background-image: url(../img/header-bg.svg);
    background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: -7px;
    &__content{
		position: relative;
        display: flex;
		justify-content: space-between;
		padding-bottom: 99px;
		@media (max-width: 760px){
			flex-direction: column;
			align-items: center;
			padding-bottom: 0;
		}
    }
    &__video{
		position: absolute;
		right: 0;
		padding-top: 32px;
		@media (max-width:760px) {
			position: static;
		}
		img{
			@media (max-width:760px) {
				max-width: 350px;
			}
		}
		
    }
    &__title{
        max-width: 531px;
        font-size: 50px;
        line-height: 64px;
        letter-spacing: 0.31px;
		margin-top: 69px;
		@media (max-width:980px) {
			max-width: 400px;
			font-size: 33px;
			line-height: 45px;
		}
    }
    &__subtitle{
        line-height: 24px;
        letter-spacing: 0.15px;
        margin-top: 21px;
        margin-bottom: 60px;
    }
    &__btn{
        min-width: 200px;
        height: 60px;
        border-radius: 30px;
        padding: 18px 37px;
    }
}

.inner{
	max-width: 1020px;
	padding: 0 10px;
    margin: 0 auto;
}

.navigation{
    height: 50px;
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    &__list{
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    &__item{
        padding-left: 48px;
        &:first-child{
            padding-left: 0;
		}
		@media(max-width: 860px){
			padding-left: 15px;
		}
    }
    
    &__link{
        text-decoration: none;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.15px;
    }
}

.tutors{
    &__subtitle{
        padding-top: 40px;
        padding-bottom: 20px;
    }
    &__list{
		padding-left: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		@media (max-width:680px) {
			justify-content: space-between;
			padding-left: 20px;
		}
    }
    &__item{
        display: inline-block;
        border: 1px solid #007A5C;
        box-sizing: border-box;
		border-radius: 24px;
		margin-bottom: 20px;
		@media (max-width:680px) {
			margin-right: 20px;
		}
    }
    &__link{
        display: inline-block;
        width: 100%;
        text-decoration: none;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.15px;
        color: #007A5C;
        padding: 8px 15px;
        &:hover{
            background-color: #007A5C;
            color: #fff;
            border-radius: 24px;
            box-sizing: border-box;
            transition: background .3s linear, color .3s ease ;
		}
		@media (max-width:680px) {
			display: unset;
		}
    }
}

.guide{
    padding-top: 29px;
    &__bg{
        margin-top: 84px;
        background-image: url(../img/guide-bg.png);
        background-repeat: no-repeat;
        background-position: center center;
        position: relative;
		min-height: 759px;
		@media(max-width: 990px){
			background-image: none;
			margin-top: 30px;
		}
        }
    &__step--1{
        top: 0;
        left: 0;
		position: relative;
		@media(max-width: 990px){
			margin: 0 auto;
			margin-bottom: 20px;
		}
        &::after{
            content: '';
            background-image: url(../img/step1-arrow.svg);
            position: absolute;
            top: 190px;
            left: 150px;
            width: 130px;
			height: 77px;
			@media(max-width: 990px){
				display: none;
			}
        }
    }
    &__step--2{
        top: 100px;
		right: 50px;
		@media(max-width: 990px){
			margin: 0 auto;
			margin-bottom: 20px;
		}
        &::after{
            content: '';
            background-image: url(../img/step2-arrow.svg);
            position: absolute;
            top: 190px;
            right: 110px;
            width: 140px;
			height: 70px;
			@media(max-width: 990px){
				display: none;
			}
        }
    }
    &__step--3{
        top: 350px;
		left: 50px;
		@media(max-width: 990px){
			margin: 0 auto;
		}
        &::after{
            content: '';
            background-image: url(../img/step3-arrow.svg);
            position: absolute;
            top: 200px;
            left: 150px;
            width: 98px;
			height: 42px;
			@media(max-width: 990px){
				display: none;
			}
        }
    }
}

.guide-step{
    display: block;
    width: 260px;
    border: 1px solid #EBF4FF;
    box-sizing: border-box;
    box-shadow: 0px 4px 7px rgba(222, 234, 249, 0.59);
    border-radius: 24px;
    position: absolute;
    padding: 16px 21px 45px 22px;
	text-align: center;
	@media(max-width: 990px){
		position: static;
	}
}

.step-number{
    color: #fff;
    display: inline-block;
    background: #32404D;
    border-radius: 18px;
    font-size: 14px;
    line-height: 16px;
    padding: 11px 15px 9px;
    margin-bottom: 24px;
}

.better{
    margin-top: 20px;
    margin-bottom: 96px;
	text-align: center;
	@media(max-width: 860px){
		margin-bottom: 0px;
	}
    &__title{
        font-size: 24px;
        line-height: 32px; 
        letter-spacing: 0.15px;
    }
    &__box-inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
		margin-top: 40px;
		@media(max-width: 860px){
			flex-direction: column;
		}
    }
    &__box{
		max-width: 247px;
		@media(max-width: 860px){
			padding-bottom: 40px;
		}
    }
    &__box-title{
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 0.15px;
        margin-top: 20px;
    }
    &__box-text{
        margin-top: 9px;
        font-size: 9px;
        line-height: 24px;
        letter-spacing: 0.15px;
    }
}

.submit{
    padding-top: 57px;
    background-image: url(../img/submit-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    &__title{
		line-height: 55px;
		@media (max-width:680px) {
			line-height: 32px;
		}
    }
    &__list{
        list-style: url(../img/submit-ico.svg);
        padding: 0;
        margin: 0;
    }
    &__item{
        padding-left: 18px;
        line-height: 24px;
        letter-spacing: 0.15px;
        margin-bottom: 8px;
    }
    &__colomns{
        max-width: 718px;
        margin: 0 auto;
        margin-top: 45px;
        padding-bottom: 524px;
        display: flex;
        justify-content: space-between;
		align-items: center;
		@media(max-width: 860px){
			flex-direction: column;
			padding-bottom: 52px;
		}
    }
}

.online{ 
    text-align: center;
    padding-bottom: 100px;
    &__title{
        padding-top: 99px;
        span{
            color: #007A5C;
            padding-right: 40px;
        }
    }
    &__subtitle{
        margin-top: 13px;
    }
    &__list{
        padding: 0;
        margin: 0;
        padding-top: 48px;
        display: flex;
        justify-content: space-around;
		list-style: none;
		@media(max-width: 860px){
			flex-direction: column;
		}
    }
    &__box{
        width: 248px;
    }
}

.video-box{
    &__title{
        padding-bottom: 20px;
    }
    &__preview{
        position: relative;
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 48px;
            height: 48px;
            background-color: #007A5C;
        }
        &::after{
            content: '';
            position: absolute;
            top: 50%;
            left: 52%;
            transform: translate(-50%, -50%);
            border: 10px solid transparent; 
            border-left: 13px solid white;
        }

    }
}

.plan{
    max-height: 368px;
    background-image: url(../img/plan-bg.png);
    background-repeat: no-repeat;
	background-size: cover;
	@media(max-width: 860px){
		max-height: none;
	}
    &__title{
        padding-top: 43px;
        padding-bottom: 42px;
    }
    &__content{
        display: flex;
        margin: 0 -16px;
		justify-content: center;
		@media(max-width: 860px){
			flex-direction: column;
			margin: -16px auto;
			justify-content: center;
		}
    }
}

.plan-box{
    max-width: 343px;
    flex: 1 1 auto;
    margin: 0 16px;
    background-color: #fff;
    border: 1px solid #EBF4FF;
    box-shadow: 0px 2px 25px rgba(76, 106, 170, 0.22);
	border-radius: 20px;
	text-align: center;
	@media(max-width: 860px){
		flex: auto;
		flex-direction: column;
		margin: 16px auto;
	}
    &__title{
        font-size: 20px;
        line-height: 28px;
        padding-top: 33px;
        padding-bottom: 24px;
    }
    &__list{
		text-align: left;
        list-style: none;
        margin: 0;
        padding: 0 50px;
    }
    &__value{
		padding-bottom: 16px;
		line-height: 19px;
	}
	&__btn{
		padding: 10px 86px;
		margin-top: 14px;
		border-radius: 24px;
		margin-bottom: 25px;
		@media(max-width: 860px){
			padding: 10px 55px;
		}
	}
}

.faq{
	padding-bottom: 100px;
	@media(max-width: 860px){
		padding-bottom: 40px;
	}
	&__title{
		padding-top: 148px;
		padding-bottom: 36px;
		@media(max-width: 860px){
			padding-top: 48px;
		}
	}
	&__list{
		list-style: url(../img/faq-icon.svg);
		margin: 0 auto;
		max-width: 440px;
	}
	&__item{
		padding-bottom: 24px;
		padding-left: 16px;
	}
}

.footer{
	height: 78px;
}

@import "media";
